@charset "utf-8";

/* Peqeunas telas: até 480px
Celular: de 481px - 767px
Tablet: 768px - 1024px
Desktop: 1025px - 1200px
Grandes Telas: 1201px para cima */

@media screen and (min-width: 767px) {

    #burguer {
        display: none;
    }
    menu {
        display: block;
    }

    menu li{
        display: inline-block;
    }

    main {
        max-width: 768px;
    }

}

